<h1 mat-dialog-title>Case Details</h1>

<mat-dialog-content class="dialog-content">
  <p><strong>Case Label:</strong> {{ caseDetail.caseLabel }}</p>
  <p><strong>Case Status:</strong> {{ caseDetail.caseStatus }}</p>
  <p><strong>Court:</strong> {{ caseDetail.court.courtName }}</p>
  <p><strong>Court Address:</strong> {{ caseDetail.court.courtAddress }}</p>
  <p><strong>Resolving Decision Label:</strong>
    <em *ngIf="!caseDetail.resolvingDecisionLabel"> Nije rijesen</em>
    <span *ngIf="caseDetail.resolvingDecisionLabel"> {{ caseDetail.resolvingDecisionLabel }}</span>
  </p>

  <h3 mat-subheader>Decisions:</h3>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let decision of caseDetail.decisions" [expanded]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>{{ decision.decisionLabel }}</strong>
        </mat-panel-title>
        <mat-panel-description>
          {{ decision.decisionDescription }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <strong>Type:</strong> {{ getDecisionTypeLabel(decision.decisionType) }}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onClose()">Close</button>
</mat-dialog-actions>
