/* Basic styles for the form inside the dialog */
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

button.mat-button,
button.mat-raised-button {
  margin-right: 8px;
}


.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 20px;
}

.full-width {
  grid-column: span 2;
}
@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

