<mat-dialog-content class="dialog-content">
  <div class="form-container">
    <form [formGroup]="caseForm" (ngSubmit)="onSubmit()">
      <!-- Case Details Section -->
      <p class="headers">Case Details</p>
      <div class="form-grid">
        <form [formGroup]="caseForm" (ngSubmit)="onSubmit()">
          <div class="form-grid">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Case Label</mat-label>
              <input matInput [readonly]="!isEdit" formControlName="caseLabel" />
              <mat-error *ngIf="caseForm.controls['caseLabel'].hasError('required')">
                Case Label is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Case Status</mat-label>
              <mat-select formControlName="caseStatus">
                <mat-option *ngFor="let status of ['IN_PROGRESS', 'RESOLVED']" [value]="status">
                  {{ mapStatus(status) }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="caseForm.controls['caseStatus'].hasError('required')">
                Case Status is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field full-width">
              <mat-label>Case Description</mat-label>
              <textarea [readonly]="!isEdit" matInput formControlName="description"></textarea>
              <mat-error *ngIf="caseForm.controls['description'].hasError('required')">
                Case Description is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Resolving Decision Label</mat-label>
              <mat-select formControlName="resolvingDecisionLabel">
                <mat-option *ngFor="let decision of availableDecisions" [value]="decision.decisionLabel">
                  {{ decision.decisionLabel }}
                </mat-option>
                <mat-option value="">None</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <p class="headers">Court Details</p>
          <div class="form-grid">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Court Name</mat-label>
              <input [readonly]="!isEdit" matInput formControlName="courtName" />
              <mat-error *ngIf="caseForm.controls['courtName'].hasError('required')">
                Court Name is required
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Court Address</mat-label>
              <input [readonly]="!isEdit" matInput formControlName="courtAddress" />
              <mat-error *ngIf="caseForm.controls['courtAddress'].hasError('required')">
                Court Address is required
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
    </form>
  </div>

  <div class="table-container">
    <p class="headers">Case Decisions</p>
    <table mat-table [dataSource]="decisionsDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="decisionLabel">
        <th mat-header-cell *matHeaderCellDef> Decision Label </th>
        <td mat-cell *matCellDef="let decision"> {{ decision.decisionLabel }} </td>
      </ng-container>

      <ng-container matColumnDef="decisionDescription">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let decision" class="truncate-cell"> {{ decision.decisionDescription }} </td>
      </ng-container>

      <ng-container matColumnDef="decisionType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let decision"> {{ mapDecisionType(decision.decisionType) }} </td>
      </ng-container>

      <ng-container matColumnDef="decisionDate">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let decision"> {{ decision.decisionDate | date:'yyyy-MM-dd' }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="paginator"
        #paginatorPageSize
        [pageSizeOptions]="pageSizes"
        showFirstLastButtons>
      </mat-paginator>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">
    <span *ngIf="isEdit">Cancel</span>
    <span *ngIf="!isEdit">Close</span>
  </button>
  <button mat-button (click)="createNewDecision()" *ngIf="isEdit">Add Decision</button>
  <button mat-flat-button color="primary" type="submit" *ngIf="isEdit" [disabled]="!caseForm.valid"
    (click)="updateCase()">Update Case</button>
</div>
