.dialog-content {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1200px;
}

.form-container {
  flex: 1;
}

.table-container {
  flex: 1.5;
  overflow-x: auto;
}

mat-form-field {
  padding: 5px;
}

.headers{
  font-weight: 400;
  font-size: large;
}
.truncate-cell {
  max-width: 60px; /* feel free to include any other value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
